//
//  PunchClock_Global.xcconfig
//  PunchClock
//
//  Created by James Moore on 11/18/14.
//  Copyright (c) 2014 Panic Inc. All rights reserved.
//

ONLY_ACTIVE_ARCH = NO

VALIDATE_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES

COPY_PHASE_STRIP = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

ENABLE_NS_ASSERTIONS = NO

WARNING_CFLAGS = -Wall -Wextra -Wreturn-type -Wundef -Wno-unused-parameter -Wno-sign-compare

VERSIONING_SYSTEM = apple-generic

GCC_PRECOMPILE_PREFIX_HEADER = YES

ENABLE_STRICT_OBJC_MSGSEND = YES

CLANG_ENABLE_MODULES = YES

DEAD_CODE_STRIPPING = YES

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 8.1
CLANG_ENABLE_OBJC_ARC = YES

// Warnings
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_SHADOW = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES

EMPTY_STRING =
