//
//  PunchClock.xcconfig
//  PunchClock
//
//  Created by James Moore on 4/16/14.
//  Copyright (c) 2014 Panic Inc. All rights reserved.
//

#include "PunchClock_Global.xcconfig"

ONLY_ACTIVE_ARCH = YES
VALIDATE_PRODUCT = NO
COPY_PHASE_STRIP = NO
DEPLOYMENT_POSTPROCESSING = NO
STRIP_INSTALLED_PRODUCT = NO

OTHER_CODE_SIGN_FLAGS[config=*] = --timestamp=none

GCC_OPTIMIZATION_LEVEL = 0

CODE_SIGN_IDENTITY = iPhone Developer

DEBUG_INFORMATION_FORMAT = dwarf

ENABLE_NS_ASSERTIONS = YES

RUN_CLANG_STATIC_ANALYZER = YES

GCC_PREPROCESSOR_DEFINITIONS[config=*] = DEBUG=1 IS_BETA=0 CONFIGURATION_$(CONFIGURATION)=1 $(inherited)

BUNDLE_DISPLAY_NAME_SUFFIX = $(EMPTY_STRING) 🔥
