//
//  PunchClock.xcconfig
//  PunchClock
//
//  Created by James Moore on 4/16/14.
//  Copyright (c) 2014 Panic Inc. All rights reserved.
//

CODE_SIGN_IDENTITY = iPhone Developer: 
//:configuration = Debug
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 CONFIGURATION_$(CONFIGURATION) $(inherited)

//:completeSettings = none
